*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: futura;
    src: url(../../Futura-Bold.ttf);
}

html,body{
    height: 100%;
    width: 100%;
    font-family: futura;
}
*::selection{
    background-color: #fff;
    color: #000;
}
#minicircle{
    width: 13px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    height: 17px;
    background-color: #f0a3a39c;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
}
body{
    /* background-image: url("https://images.unsplash.com/photo-1605478328994-f93e98217da7?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mzh8fHxlbnwwfHx8fHw%3D"); */
    /* background-image: url(https://images.unsplash.com/photo-1584968173934-bc0b588eb806?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
   /* background-image: url("https://img.freepik.com/free-photo/futuristic-blue-business-growth-chart-touch-screen-generated-by-ai_188544-30616.jpg");
    background-position:top; 
    background-size: cover; */
    /* background-color: #000000f5; */
    background-color:  #FAE3D9;
    font-family: futura;
}
button{
    background-color:#61C0BF ;
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 20px;
}
#page1{
    height:100%;
   width: 100%;
   position: relative;
   overflow: hidden;
}
#nav{
    /* background-color: rgba(0, 0, 0, 0.929); */
    height: 80px;
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    position: fixed;
    background-color:#FFB6B9 ;
    /* background-color: rgba(0, 0, 0, 0.114); */
}
 #nav img{
    height: 120px;
    width: 120px;
}
#nav #heading{
    font-size: 4.3vw;
    font-weight: 900;
    /* padding-left: 100px; */
    color: #343333;
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); */
}
 #nav #others{
    display: flex;
    gap:20px;
    align-items: center;
    /* background-color: palegoldenrod; */
    /* width:50%; */
    /* justify-content: flex-end; */
}
#nav #others a{
    text-decoration: none;
    color: #343333a9;
}
#nav #others button{
    font-size: 17px;
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(70, 70, 70, 0.233)d7d;
    
}

#center{
    height: 100%;
    position: relative;
    background-color: #28282823;
}
#box
{
    height: 70%;
    width: 40%;
    /* background-color: orange;
     */
     background-color: #BBDED6;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 170px;
    line-height: 4.5vw;
}
#bubble
{
    height: 80px;
    width: 70px;
    /* border-radius: 50%; */
    border-top-right-radius: 30%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius:20% ;

    background-color:#7be7cd8c;
    opacity: 0.8;
    position: absolute;
    z-index: 99;
    top: 22%;
    left: 28%;

}
#box h1{
    color: #000000de;
    font-size: 3.5vw;
}
#box h2{
    color: #424040c8;
    font-size: 2vw;
    padding-left: 25px;
}
#box span{
    margin-left: 150px;
    font-size: 5vw;
    color: #424040ad;
    /* text-shadow: 4px 4px 5px rgba(34, 34, 34, 0.5); */
}
#box #formid button{
    padding: 60px 60px;
    font-size: 2vw;
}

/* #pay-button{
    width: 80%;
    height: 90%;
    background-color: #61c0be3d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 50px;
} */
/* #pay-button #pay-button-h1 h1{
    font-size: 3vw;
}
#pay-button #pay-button-h1 span{
    font-size: 3vw;
    margin-left: 0px;
    color: #000;
}
#pay-button #pay-button-h1 #paybtn{
    padding: 20px 30px;
    background-color: red;
} */
#paybtn{
    font-size: 3vw;
    font-weight: 700;
    padding: 110px 80px;
    color: #0000009d;
    transition: all ease 0.5s;
    border-bottom-left-radius: 110px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
}
#info{
    height: 200px;
    width: 200px;
    background-color:#FAE3D9 ;
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
    gap: 15px;
}
#info h3{
    font-size: 1.5vw;
    color: #7d7c7c;
    line-height: 1.7vw;

}
#info h2{
    font-size: 2vw;
    color: #2a29298f;
    font-weight: 800;
    margin-left: -20px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(112, 111, 111, 0.299); 
}
#info h2 i{
    text-shadow: none;
    color:#2a2929b2 ;
    font-size: 1.8vw;
    font-weight:600;
}
#pay-button button:hover{
    background-color:#BBDED6 ;
    color: #0000009c;
}
#imgdiv{
    position: absolute;
    right: 2%;
    top: 36%;
    
}
#imgdiv p{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 10px;
    color: #0000009c;

}